body {
    font-family: '文泉驛微米黑';
/*    
    min-height: 740px;

    background: rgb(215, 215, 215);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(240, 240, 240)), to(rgb(190, 190, 190)));
    background: -webkit-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:    -moz-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:      -o-radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));
    background:         radial-gradient(rgb(240, 240, 240), rgb(190, 190, 190));

    -webkit-font-smoothing: antialiased;
    */
}

a {
    color: inherit;
    text-decoration: none;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover {
    background: rgba(255,255,255,1);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.5);
}

/* COMMON STEP STYLES */

.step {
    width: 1440px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-size: 48px;
    line-height: 1.5;
    position: relative;    
}

.zoom{
    opacity: 0;
    -webkit-transition: opacity 1s linear .5s;
}

.active.zoom, .active .zoom{
    opacity: 1;
}

.dimension{
    border-style: dashed;
    border-width: 0px;
    width: 0; height: 0;
    position: absolute;
    -webkit-transition: all 1s linear 1s;
}
.dimension.width{
    border-color: #00c;
    border-width: 4px;
    border-bottom-width: 0;
}
.dimension.height{
    border-color: #c00;
    border-width: 4px;
    border-left-width: 0;
}


/* slide-specific styles */
#home{
    text-align: left;
    padding: 2em;
    text-shadow: 0 3px 2px #fff;
}
#home p{
    font-size: 28px;
    color: #999;
}

#front .dimension.width{
    top: 250px; left: 430px; 
}
#front .label{
    position: absolute;
    -webkit-transition: opacity 0.5s linear 1.5s;
    opacity: 0;
}
#front.active .label, #side.active .label{
    opacity: 1;
}
#front.active .dimension.width{
    width: 570px; height: 20px;
}

#front .dimension.height{
    left: 900px; top: 200px;
}

#front.active .dimension.height{
    width: 20px; height: 605px;
}

#front .label.width, #side .label.width{
    left: 20px;
    top: 5px;
    color: #00c;
}
#front .label.height{
    left: 30px;
    top: 110px;
    width: 200px;
    color: #c00;
}
#front .low-panel{
    border-bottom: 4px solid #0c0;
    position: absolute;
    width: 400px;
    top: 750px;
    left: 250px;
}

#side .dimension.width{
    top: 250px; left: 430px; 
}
#side.active .dimension.width{
    width: 570px; height: 20px;
}

#side-rise .angle{
    position: absolute;
    left:0; top:0;
}

#side-rise .mount{
    position: absolute;
    left: 1000px;
    width: 250px;
    top: 540px;
    border-top: 4px solid #ffb400;
    color: #ffb400;
    padding-left: 120px;
}

#gravity{
    height: 800px;
}
#gravity .wheel{
    border-bottom: 4px solid #0c0;
    position: absolute;
    width: 400px;
    top: 650px;
    left: 250px;
}

#gravity .gravity{
    position: absolute; 
    line-height: 190px;
    height: 190px;
    width: 380px;
    text-align: center;
    left: 510px;
    top: 520px;
}


#spin{
    height: 800px;
}
#spin video{
    margin: auto;
    display: block;
    height: 800px;
}

#spin .background{
    background-color: #000;
    position: absolute;
    left: 0; top: 0; bottom: 0; right: 0;
}

#rear div{
    position: absolute;
}

.dip{
    width: 1440px;
    height: 800px;
    padding: 2em;
    color: #fff;
    background: #000;
    text-align: center;
}

.dip figure{
    display: inline-block;
}

.dip figcaption{
    font-size: 20px;
    line-height: 70px;
}

#dip-1 figure{
    margin-top: 100px;
}

.dip figure{
    vertical-align: top;
    
}

#dip-3 img{
    display: inline-block;
    margin-top: 150px;
}
#dip-3 ul{
    display: inline-block;
    margin-top: 150px;
    margin-left: 1em;
    font-size: 32px;
    list-style: circle;
    list-style-position: inside;
    text-align: left;
    width: 40%;
    vertical-align: center;
}

/* IMPRESS NOT SUPPORTED STYLES */

.fallback-message {
    font-family: sans-serif;
    line-height: 1.3;
    
    display: none;
    width: 780px;
    padding: 10px 10px 0;
    margin: 20px auto;

    border-radius: 10px;
    border: 1px solid #E4C652;
    background: #EEDC94;
}

.fallback-message p {
    margin-bottom: 10px;
}

.impress-not-supported .step {
    position: relative;
    opacity: 1;
    margin: 20px auto;
}

.impress-not-supported .fallback-message {
    display: block;
}

